In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df_train = pd.read_csv('C:/Users/edwardsrk/anxiety-tweets/depression-anxiety-tweets/datd_train.csv')

In [4]:
df_train.head()

                                                text  label
0  oh pantesan tadi pada rame, ternyata monek mau...      0
1       Semakin bertambah usia, semakin cemas hidup.      0
2                                 gelisah bgt astaga      1
3  Udah jangan terlalu cemas sikapku tak berubah ...      0
4  Giliran Aldebaran diambang kematian...Semua ba...      0

In [5]:
df_train.label.count()

2201

In [10]:
n = df_train.groupby('label').nunique()
  
print("No.of.unique values in each column :\n",
      n)

No.of.unique values in each column :
        text
label
0      1246
1       718